<footer class="fp-js dark-section" data-fp-js="contacts">
  <div class="container-footer">
    <div class="row site-map">
      <div class="col-md-2 col-md-offset-1">
        <% for (page of pages){ %>
          <h3 class="site-map-head">
            <a href="<%= page[lang].url %>" style="text-transform:capitalize"><%= page[lang].name %></a>
          </h3>          
        <% } %>

      </div>
      <div class="col-md-2">
        <h3 class="site-map-head-2">#Services</h3>
        <p class="site-map-text">
          <a class="site-map-link" href="#">System Maintenance & Hosting</a>
        </p>
        <p class="site-map-text">Fullstack Web Development</p>
        <p class="site-map-text">Design & Branding</p>
        <p class="site-map-text">SEO & Digital Marketing</p>
      </div>
      <div class="col-md-2">
        <h3 class="site-map-head-2">#Products</h3>
        <p class="site-map-text">Landing</p>
        <p class="site-map-text">Catalogue</p>
        <p class="site-map-text">Corporate</p>
        <p class="site-map-text">Store</p>
      </div>
      <div class="col-md-2">
        <h3 class="site-map-head-2">#Portfolio</h3>
        <p class="site-map-text">Landing</p>
        <p class="site-map-text">Catalogue</p>
        <p class="site-map-text">Corporate</p>
        <p class="site-map-text">Store</p>
      </div>
      <div class="col-md-2">
        <h3 class="site-map-head-2">#Blog</h3>
        <p class="site-map-text">PC Administration</p>
        <p class="site-map-text">Back-end</p>
        <p class="site-map-text">Front-end</p>
        <p class="site-map-text">Design</p>
      </div>
    </div>
    <div class="contacts-block">
      <h3 class="contacts-head">
        <%= langer.FTR_CALL %>
      </h3>
      <a class="contacts-data" href="tel:+380974092303">+380 (97) 409 23 03</a>
      <a class="contacts-data" href="mailto:sales@hive-studio.net">sales@hive-studio.net</a>
      <div class="adress-block">
        <p class="contacts-adress">
          <%= langer.FTR_ADDRESS_P1 %>
        </p>
        <p class="contacts-adress">
          <%= langer.FTR_ADDRESS_P2 %>
        </p>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-social-links">
        <a href="https://www.facebook.com/groups/875659312616598/" title="Facebook" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.linkedin.com/company/18444275/" title="LinkedIn" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="skype:fanatik113?chat" title="Skype" target="_blank">
          <i class="fab fa-skype"></i>
        </a>
        <a href="#" title="Behance" target="_blank">
          <i class="fab fa-behance"></i>
        </a>
      </div>
      <p class="copyright">&copy 2018 Hive Studio |
        <%= langer.FTR_COPYRIGHT %>
      </p>
    </div>
</footer>
</div>
<script type="text/javascript" src="/static/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/typeit.min.js"></script>
<script type="text/javascript" src="/static/js/scrolloverflow.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.fullpage.js"></script>
<script type="text/javascript" src="/static/js/scripts.js"></script>
<script type="text/javascript" src="/static/js/lang-cookie.js"></script>
<script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>

</body>

</html>