<!DOCTYPE html>
<html>

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
  <title>
    <%=translation.PAGE_TITLE%>
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <meta name="description" lang="ru" content="Создание и разработка качественного сайта любой сложности под ключ. Веб студия Hive поможет разработать индивидуальный стиль с использованием самых передовых технологий. Заказав у нас, Вы получите конкурентоспособный сайт, который увеличит Вашу прибыль в 3 раза."
  />
  <meta name="keywords" content="заказать сайт киев под ключ, дизайн, креативные, web studio, сайт для бизнеса заказать, заказать интернет магазин, купить, разработка веб сайта под заказ, seo оптимизация, аудит сайта, продвижение, техподдержка сайта, landing page, business card, catalogue, corporate website, internet store"
  />
  <meta name="author" content="Hive-Team">
  <meta name="robots" content="index">
  <meta name="referrer" content="always">

  <link rel="canonical" href="https://www.hive-studio.net" />
  <link rel="shortcut icon" href="/static/images/favicon.png">
  <link rel="stylesheet" href="/static/css/lib/grid-system.min.css">
  <link rel="stylesheet" href="/static/css/lib/jquery.fullpage.min.css">
  <link rel="stylesheet" href="/static/css/lib/fontawesome-all.min.css">
  <link rel="stylesheet" href="/static/css/style.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113086520-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-113086520-1');
  </script>

  <!-- Href links -->
  <link rel="alternate" href="https://hive-studio.net" hreflang="en-gb" />
  <link rel="alternate" href="https://ua.hive-studio.net" hreflang="uk-ua" />
  <link rel="alternate" href="https://ru.hive-studio.net" hreflang="ru-ua" />
  <link rel="alternate" href="https://ru.hive-studio.net" hreflang="ru-ru" />

</head>

<body>
  <div class="toggleMenu">
    <div class="mobile-logo">
      <a href="/">
        <img src="/static/images/logo.svg" alt="Hive logo" width="150">
      </a>
    </div>
    <div class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </div>
  <div class="lang-switcher">
    <a class="lang-trigger <%=(lang==" en "?"active ":" ")%>" lang="en" href="https://hive-studio.net">EN</a>
    <a class="lang-trigger <%=(lang==" ua "?"active ":" ")%>" lang="ua" href="https://ua.hive-studio.net">UA</a>
    <a class="lang-trigger <%=(lang==" ru "?"active ":" ")%>" lang="ru" href="https://ru.hive-studio.net">RU</a>
  </div>
  <ul class="nav" id='navmenu'>
    <li data-menuanchor='contacts'>
      <a href="#contacts">
        <%=translation.NAV_CONTACTS%>
      </a>
    </li>
    <li data-menuanchor='portfolio'>
      <a href="#portfolio">
        <%=translation.NAV_PORTFOLIO%>
      </a>
    </li>
    <li data-menuanchor='services'>
      <a href="#services">
        <%=translation.NAV_SERVICES%>
      </a>
    </li>
    <li data-menuanchor="about">
      <a href="#about">
        <%=translation.NAV_ABOUT%>
      </a>
    </li>
    <li>
      <a href="/blog">
        <%=translation.NAV_BLOG%>
      </a>
    </li>
    <li class="logo">
      <div class="site-logo">
        <a>
          <img data-dark='/static/images/logo-dark.svg' data-white='/static/images/logo.svg' src="/static/images/logo.svg" alt="Hive logo"
            width="135">
        </a>
      </div>
    </li>
    <li class="lang-switcher-mobile">
      <a class="lang-trigger <%=(lang==" en "?"active ":" ")%>" lang="en" href="https://hive-studio.net/">EN</a>
      <a class="lang-trigger <%=(lang==" ua "?"active ":" ")%>" lang="ua" href="https://ua.hive-studio.net/">UA</a>
      <a class="lang-trigger <%=(lang==" ru "?"active ":" ")%>" lang="ru" href="https://ru.hive-studio.net/">RU</a>
    </li>
  </ul>