<% include ./partials/header %>
  <div id='fp-js'>
    <div class='fp-js dark-section npddng' data-fp-js="home">
      <canvas id="main-bg"></canvas>
      <div class="site_title">
        <h1>
          <span>HIVE</span>
          <br>
          <strong>
            <span id="title"></span>
            <br> STUDIO
          </strong>
        </h1>
        <span class="type-it subtitle"></span>
      </div>
      <div>
        <a href="#about" class="scroll-down">
          <img class="scroll-down-icon" src="/static/images/elements/angle-down.svg" />
        </a>
      </div>
    </div>
    <div class='fp-js white-section' data-fp-js="about">
      <div class="section-content">
        <h2 class="section-header">
          <%-langer.ABOUT_HEADING%>.</h2>
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
            <p class="count right main-count">12</p>
            <p class="count-descr count-descr-2">
              <%-langer.ABOUT_F1%>
            </p>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-4 col-xs-12">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="count">5</p>
              <p class="count-descr">
                <%-langer.ABOUT_F2%>
              </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="count">4</p>
              <p class="count-descr">
                <%-langer.ABOUT_F3%>
              </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="count">24
                <span>h</span>
              </p>
              <p class="count-descr">
                <%-langer.ABOUT_F4%>
              </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="count">100
                <span>%</span>
              </p>
              <p class="count-descr">
                <%-langer.ABOUT_F5%>
              </p>
            </div>
          </div>
        </div>
        <div class="button-border-dark">
          <a class="button-small-dark" href="/about">
            <%-langer.ABOUT_BTN%>
          </a>
        </div>
      </div>
    </div>
    <div class='fp-js dark-section' data-fp-js="services">
      <div class="section-content">
        <h2 class="section-header container">
          <%=langer.SERVICES_HEADING%>.</h2>
        <div class="container">
          <div class="row">
            <div class="vertical-tab-wrap">
              <div class="vert-tabs">
                <button class="tablinks tabs-active" data-tab="tab-1" data-bind="click: backToTop">
                  System Maintenance & Hosting
                </button>
                <button class="tablinks" data-tab="tab-2" data-bind="click: backToTop">
                  Fullstack Web Development
                </button>
                <button class="tablinks" data-tab="tab-3" data-bind="click: backToTop">
                  Identity Design & Branding
                </button>
                <button class="tablinks" data-tab="tab-4" data-bind="click: backToTop">
                  SEO & Digital Marketing
                </button>
              </div>
              <div id="tab-1" class="tab-content tabs-active">
                <div class="animated slideInDown">
                  <p class="s-md-100 justify">Today’s informed consumer is able to quickly find your website and digital marketing presence to assess
                    your credibility and whether you’re worthy of their time and money. Don’t lose conversions with a broken
                    or vulnerable website. By partnering with Hive Studio, you can be calm for the stability and security
                    of your information resource. Our team is always ready to provide a wide-range tech support including
                    network, hosting and digital maintenance solutions.</p>
                  <div class="left padding-tb-2">
                    <a class="s-md card-button" href="#">
                      See Detalis
                    </a>
                  </div>
                </div>
              </div>
              <div id="tab-2" class="tab-content">
                <div class="animated slideInDown">
                  <p class="s-md-100 justify">Stunning design is great for business. We specialises in creating custom web design that are crafted to
                    meet your brand, design and functionality needs. Our websites are easy to edit, update and manage allowing
                    you to keep your website content fresh and relevant encouraging repeat visits and increasing traffic
                    to your website. We ensure our websites work well on desktop computers as well as on mobile devices such
                    as smartphones and tablets.</p>
                  <div class="left padding-tb-2">
                    <a class="s-md card-button" href="#">
                      See Detalis
                    </a>
                  </div>
                </div>
              </div>
              <div id="tab-3" class="tab-content">
                <div class="animated slideInDown">
                  <p class="s-md-100 justify">Your brand will help distinguish you from your competitors and should always be consistent with your website.
                    Is your current brand looking a little bit tired? Are you ready to re-launch with a refreshing new look?
                    We will implement your ideas in the best shape and shade, while creating an exquisite look that will
                    surely please your customers.</p>
                  <div class="left padding-tb-2">
                    <a class="s-md card-button" href="#">
                      See Detalis
                    </a>
                  </div>
                </div>
              </div>
              <div id="tab-4" class="tab-content">
                <div class="animated slideInDown">
                  <p class="s-md-100 justify">Having a great website is really nice, but if nobody sees it, it’s in vain to make you money. In today's
                    competitive online environment, it is absolutely vital that your site appears near the top of search
                    engine results. Search engines change the rules frequently, so we will work hard to get your site noticed,
                    drive traffic and increase your return on investment. We can help your website search engine friendly,
                    optimize content and even help you track conversions.</p>
                  <div class="left padding-tb-2">
                    <a class="s-md card-button" href="#">
                      See Detalis
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% var chunks = []; %>
      <% for (i=0,j=products.length; i<j; i+=2) { chunks.push(products.slice(i,i+2)); } %>
        <% chunks.forEach(function(chunk, i){ %>
          <div class='fp-js <%= (i%2 == 0?"white-section":"dark-section") %>' data-fp-js="portfolio_<%=i%>">
            <div class="container">
              <div class="row">
                <% for (const [j, product] of chunk.entries()) { %>
                  <div class='col-xl-6 col-md-6 col-sm-12 col-xs-12 padding-lr-8 
                <% if (j == 0) { %>
                  <%= (i%2 == 0?"right-border-black":"right-border") %>
                <% } %>
              '>
                    <h2 class="lg-bold">
                      <%= product.name %>.</h2>
                    <p class="padding-tb-1">
                      <a class='bb-text s-md <%= (i%2 == 0?"":"wb-text s-md") %>'>
                        <%- product.price %>
                      </a>
                    </p>
                    <div class="s-md-300 p-desc">
                      <%- product.desc %>
                    </div>
                    <div class="s-md left padding-tb-2">
                      <a class='card-button-2 <%= (i%2 == 0?"":"card-button-black-p") %>' href="/products/<%= product.url %>">
                        <%= langer.PRODUCT_BTN %>
                      </a>
                    </div>
                  </div>
                  <% } %>
              </div>
            </div>
          </div>
          <% }); %>
            <div class='fp-js white-section' data-fp-js="key_projects">
              <div class="container">
                <div class="row">
                  <h2 class="section-header padding-tb-4">
                    <%= langer.PROJECTS_HEADING %>
                  </h2>
                  <div class="wrapper">
                    <div class="owl-carousel">
                      <div>
                        <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                          <a class="bb-text s-md-bold">Landing</a>
                          <p class="x-md-bold">Paktum</p>
                          <p class="s-md">website for debt collection company</p>
                          <p class="justify s-md-300 padding-tb-1">If you want a site that contains all the effective mechanisms for the product presentation and
                            sales on the Internet, an online store will cope with this task. This interactive website is
                            designed to provide certain goods to your clients via account</p>
                          <div class="left padding-tb-1">
                            <a class="s-md card-button card-button-black-2" href="#">
                              See Detalis
                            </a>
                          </div>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                          <img class="blog-img" src="/static/images/portfolio/paktum.jpg">
                        </div>
                      </div>
                      <div>
                        <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                          <a class="bb-text s-md-bold">Landing</a>
                          <p class="x-md-bold">Paktum</p>
                          <p class="s-md">website for debt collection company</p>
                          <p class="justify s-md-300 padding-tb-1">If you want a site that contains all the effective mechanisms for the product presentation and
                            sales on the Internet, an online store will cope with this task. This interactive website is
                            designed to provide certain goods to your clients via account</p>
                          <div class="left padding-tb-1">
                            <a class="s-md card-button card-button-black-2" href="#">
                              See Detalis
                            </a>
                          </div>
                        </div>
                        <div class="col-xl-6 col-md-6 col-sm-12 col-xs-12">
                          <img class="blog-img" src="/static/images/portfolio/paktum.jpg">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="padding-tb-2">
                  <div class="button-border-dark">
                    <a class="button-small-dark" href="#">
                      <%- langer.PROJECTS_BTN %>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class='fp-js dark-section' data-fp-js="order">
              <div class="container">
                <div class="row">
                  <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12 right-border">
                    <h2 class="x-md-bold padding-rtb">
                      <%= langer.ORDER_HEADING %>
                    </h2>
                  </div>
                  <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="center md padding-rtb padding-rtb-2">
                      <a class="btn-download" href="#">
                        <%- langer.ORDER_DOWNLOAD %>
                      </a>
                    </div>
                  </div>
                  <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12 padding-t-15">
                    <div class="button-border-white">
                      <a class="button-small-white" href="../">
                        <%- langer.ORDER_BTN %>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class='fp-js white-section' data-fp-js="blog">
              <div class="container">
                <h2 class="section-header-news">
                  <%= langer.BLOG_HEADING %>
                </h2>
                <div class="row">
                  <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12 blog-card">
                    <img class="blog-img" src="/static/images/blog/post-1.jpg">
                    <div class="blog-detalis">
                      <p class="blog-date s-md">Feb 07</p>
                      <p class="blog-author s-md">Dmytro Kuznets</p>
                    </div>
                    <h3 class="s-md-bold justify blog-title padding-tb-1">1 mln $ have been invested in Ukrainian web production</h3>
                    <p class="sm-300 justify">The stability and speed of any web resource is based, first of all, on its technical component.</p>
                    <div class="padding-tb-2">
                      <a class="btn-article sm" href="#">Read More</a>
                    </div>
                  </div>
                  <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12 blog-card">
                    <img class="blog-img" src="/static/images/blog/post-1.jpg">
                    <div class="blog-detalis">
                      <p class="blog-date s-md">Feb 07</p>
                      <p class="blog-author s-md">Dmytro Kuznets</p>
                    </div>
                    <h3 class="s-md-bold justify blog-title padding-tb-1">1 mln $ have been invested in Ukrainian web production</h3>
                    <p class="sm-300 justify">The stability and speed of any web resource is based, first of all, on its technical component.</p>
                    <div class="padding-tb-2">
                      <a class="btn-article sm" href="#">Read More</a>
                    </div>
                  </div>
                  <div class="col-xl-4 col-md-4 col-sm-12 col-xs-12 blog-card">
                    <img class="blog-img" src="/static/images/blog/post-1.jpg">
                    <div class="blog-detalis">
                      <p class="blog-date s-md">Feb 07</p>
                      <p class="blog-author s-md">Dmytro Kuznets</p>
                    </div>
                    <h3 class="s-md-bold justify blog-title padding-tb-1">1 mln $ have been invested in Ukrainian web production</h3>
                    <p class="sm-300 justify">The stability and speed of any web resource is based, first of all, on its technical component.</p>
                    <div class="padding-tb-2">
                      <a class="btn-article sm" href="#">Read More</a>
                    </div>
                  </div>
                </div>
                <div class="button-border-dark">
                  <a class="button-small-dark" href="/blog">
                    <%- langer.BLOG_BTN %>
                  </a>
                </div>
              </div>
            </div>


            <% include ./partials/footer %>