<% include ../partials/header %>

	<link rel="stylesheet" href="/static/lib/bootstrap-select/css/bootstrap-select.min.css">
	<link rel="stylesheet" type="text/css" href="/static/lib/slick-1.8.0/slick.css" />
	<link rel="stylesheet" type="text/css" href="/static/lib/slick-1.8.0/slick-theme.css" />

	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="col-lg-6">
							<h3 class="panel-title">Picture
								<span class="label label-danger pic-warn-label">Required</span>
								<span class="label label-success pic-done-label" style="display: none;">Selected</span>
							</h3>
						</div>
						<div class="col-lg-6">
							<form id="fileForm" action="/cms/pictures" method="POST" enctype="multipart/form-data" hidden>
								<input class="file-input" type="file" name="image" accept="image/jpeg, image/png" multiple="true" hidden>
							</form>
							<button id="fileButton" class="btn btn-primary-inversed">Upload Picture</button>
						</div>
					</div>
					<div class="panel-body item-container pic-panel">
						<div class="col-lg-12">
							<div id="pic-carousel" class="picture-carousel">
								<% pictures.forEach(function(picture){ %>
									<div class="picture-carousel-card" style="background-image:url('/pictures/<%= picture._id %>');" target="<%= picture._id %>">
										<div class="selected-wrapper" hidden>Selected</div>
									</div>
									<% }) %>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4>General information</h4>
					</div>
					<div class="panel-body">
						<form action="/cms/projects/<%= project._id %>?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded">
						<input type="text" id="picture" name="project[picture_id]" value="<%= project.picture_id %>" hidden>
							<div class="col-lg-6">
								<div class="form-group">
									<label class="data-params">Released: </label>
									<input id="datePicker" class="form-control" type="date" name="project[released]" required>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label class="data-params">Hours Total: </label>
									<input class="form-control" type="text" name="project[hours]" value="<%= project.hours %>" required>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label class="data-params">Business Case: </label>
									<br>
									<select class="selectpicker" name="project[business_case]" required>
										<% for (_case of cases){ %>
											<option value="<%= _case.id %>">
												<%= _case.en.name %>
											</option>
											<% } %>
									</select>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="form-group">
									<label class="data-params">Category: </label>
									<br>
									<select class="selectpicker" name="project[category]" required>
										<% for (category of categories){ %>
											<option value="<%= JSON.stringify(category.object) %>">
												<%= category.name %>
											</option>
											<% } %>
									</select>
								</div>
							</div>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="panel with-nav-tabs panel-default">
					<ul class="nav nav-tabs nav-justified">
						<li role="presentation" class="active">
							<a data-toggle="tab" href="#lang_en" class="panel-title">English</a>
						</li>
						<li role="presentation">
							<a data-toggle="tab" href="#lang_ua" class="panel-title">Ukrainian</a>
						</li>
						<li role="presentation">
							<a data-toggle="tab" href="#lang_ru" class="panel-title">Russian</a>
						</li>
					</ul>
					<div class="panel-body">
						<div class="tab-content">
							<div id="lang_en" class="tab-pane fade in active">
								<div class="form-group">
									<label>URL: </label>
									<div class="input-group">
										<span class="input-group-addon" id="url-addon">
											<strong>https://www.hive-studio.net/projects/</strong>
										</span>
										<input class="form-control project-url" type="text" name="project[en][url]" lang="en" aria-describedby="url-addon" value="<%= project.en.url %>" required>
									</div>
								</div>
								<div class="form-group">
									<label class="data-params">Name: </label>
									<a class="btn btn-primary btn-lang" target="project-name" lang="en">translate</a>
									<input class="form-control project-name" type="text" name="project[en][name]" lang="en" value="<%= project.en.name %>" required>
								</div>
								<div class="form-group">
									<label class="data-params">Description: </label>
									<a class="btn btn-primary btn-lang" target="project-desc" lang="en">translate</a>
									<textarea id="en-project-desc" class="form-control project-desc" type="text" name="project[en][desc]" lang="en" rows="6"><%= project.en.desc %></textarea>
								</div>
								<input type="text" id="scope-en" name="project[en][scope]" value="<%= JSON.stringify(project.en.scope) %>" hidden>
								<label class="data-params">Project scope: </label>
								<div class="item-container row">
  									<div class="col-lg-12">
  										<ul class="list-group item-list"></ul>
  									</div>
  									<div class="col-lg-12">
	  									<div class="item-form hidden">
										  	<input class="form-control item-field" type="text" name="scope-en">
	  										<a class="btn btn-primary-inversed item-cancel"><i class="glyphicon glyphicon-remove"></i></a>
	  										<a class="btn btn-primary-inversed item-save"><i class="glyphicon glyphicon-ok"></i></a>
	  									</div> 
	  									<a class="btn btn-primary-inversed item-add" style="float: right;"><i class="glyphicon glyphicon-plus"></i></a>							
  									</div>
  								</div>
							</div>
							<div id="lang_ua" class="tab-pane fade in">
								<div class="form-group">
									<label>URL: </label>
									<div class="input-group">
										<span class="input-group-addon" id="url-addon">
											<strong>https://www.ua.hive-studio.net/projects/</strong>
										</span>
										<input class="form-control project-url" type="text" name="project[ua][url]" lang="uk" aria-describedby="url-addon" value="<%= project.ua.url %>" required>
									</div>
								</div>
								<div class="form-group">
									<label class="data-params">Name: </label>
									<a class="btn btn-primary btn-lang" target="project-name" lang="uk">translate</a>
									<input class="form-control project-name" type="text" name="project[ua][name]" lang="uk" value="<%= project.ua.name %>" required>
								</div>
								<div class="form-group">
									<label class="data-params">Description: </label>
									<a class="btn btn-primary btn-lang" target="project-desc" lang="uk">translate</a>
									<textarea id="uk-project-desc" class="form-control project-desc" type="text" name="project[ua][desc]" lang="uk" rows="6"><%= project.ua.desc %></textarea>
								</div>
								<input type="text" id="scope-ua" name="project[ua][scope]" value="<%= JSON.stringify(project.ua.scope) %>" hidden>
								<label class="data-params">Project scope: </label>
								<div class="item-container row">
  									<div class="col-lg-12">
  										<ul class="list-group item-list"></ul>
  									</div>
  									<div class="col-lg-12">
	  									<div class="item-form hidden">
										  	<input class="form-control item-field" type="text" name="scope-ua">
	  										<a class="btn btn-primary-inversed item-cancel"><i class="glyphicon glyphicon-remove"></i></a>
	  										<a class="btn btn-primary-inversed item-save"><i class="glyphicon glyphicon-ok"></i></a>
	  									</div> 
	  									<a class="btn btn-primary-inversed item-add" style="float: right;"><i class="glyphicon glyphicon-plus"></i></a>							
  									</div>
  								</div>
							</div>
							<div id="lang_ru" class="tab-pane fade in">
								<div class="form-group">
									<label>URL: </label>
									<div class="input-group">
										<span class="input-group-addon" id="url-addon">
											<strong>https://www.ru.hive-studio.net/projects/</strong>
										</span>
										<input class="form-control project-url" type="text" name="project[ru][url]" lang="ru" aria-describedby="url-addon"  value="<%= project.ru.url %>" required>
									</div>
								</div>
								<div class="form-group">
									<label class="data-params">Name: </label>
									<a class="btn btn-primary btn-lang" target="project-name" lang="ru">translate</a>
									<input class="form-control project-name" type="text" name="project[ru][name]" lang="ru"  value="<%= project.ru.name %>" required>
								</div>
								<div class="form-group">
									<label class="data-params">Description: </label>
									<a class="btn btn-primary btn-lang" target="project-desc" lang="ru">translate</a>
									<textarea id="ru-project-desc" class="form-control project-desc" type="text" name="project[ru][desc]" lang="ru" rows="6"><%= project.ru.desc %></textarea>
								</div>
								<input type="text" id="scope-ru" name="project[ru][scope]"  value="<%= JSON.stringify(project.ru.scope) %>" hidden>
								<label class="data-params">Project scope: </label>
								<div class="item-container row">
  									<div class="col-lg-12">
  										<ul class="list-group item-list"></ul>
  									</div>
  									<div class="col-lg-12">
	  									<div class="item-form hidden">
										  	<input class="form-control item-field" type="text" name="scope-ru">
	  										<a class="btn btn-primary-inversed item-cancel"><i class="glyphicon glyphicon-remove"></i></a>
	  										<a class="btn btn-primary-inversed item-save"><i class="glyphicon glyphicon-ok"></i></a>
	  									</div> 
	  									<a class="btn btn-primary-inversed item-add" style="float: right;"><i class="glyphicon glyphicon-plus"></i></a>							
  									</div>
  								</div>
							</div>
						</div>
						<div class="form-group">
							<input class="btn btn-primary btn-lg" type="submit" value="Save project" style="float: right;">
						</div>
						</form>
						<a class="btn  btn-lg btn-primary-inversed btn-back-new" href="/cms/projects">
							<i class="glyphicon glyphicon-chevron-left"></i> Back
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<% include ../partials/footer %>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
		<script type="text/javascript" src="/static/lib/slick-1.8.0/slick.min.js"></script>
		<script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=cv1jk6lwz0h07mv2ifw3qvk32chw0tmbqe2hgti6gsm9ydo3"></script>
		<script type="text/javascript" src="/static/lib/bootstrap-select/js/bootstrap-select.min.js"></script>
		<script type="text/javascript" src="/static/lib/translate/translate.min.js"></script>
		<script type="text/javascript" src="/static/cms/js/projects/edit.js"></script>
		<script>
			var released = '<%= project.released %>';
			var business_case = '<%= project.business_case.id %>';
			var category = <%- JSON.stringify(project.category) %>;
		</script>