<% include ../partials/header %>

    <div id='fp-js'>
        <div class='fp-js dark-section' data-fp-js="services">
            <div class="section-content">
                <h2 class="section__main-title">
                    Hive creates a website of any complexity.</h2>
                <div class="container">
                    <div class="row">
                        <div class="vertical-tab-wrap">
                            <div class="vert-tabs">
                                <% for (var [i, service] of services.entries()) { %>
                                    <button class="tablinks tabs-active" data-tab="tab-<%= i %>" data-bind="click: backToTop">
                                        <%= service.name %>
                                    </button>
                                    <% } %>
                            </div>
                            <% for (var [i, service] of services.entries()) { %>
                                <div id="tab-<%= i %>" class="tab-content <%=(i==0?" tabs-active ":" ")%>">
                                    <div class="animated slideInDown">
                                        <p class="services__desc-main">
                                            <%= service.ext_desc %>
                                        </p>
                                        <a class="btn__services-main" href="/services/<%= service.url %>">
                                            See Detalis
                                        </a>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='fp-js white-section'>
            <div class="section-content">
                <div class="container">
                    <div class="row">
                        <h2 class="section__main-title">
                            Customer testimonials.
                        </h2>
                        <div class="services__carousel-block">
                            <div class="wrapper">
                                <div class="owl-carousel">
                                    <div>
                                        <div>
                                            <img class="services__testimonial-logo" src="/static/images/logo-dark.svg">
                                        </div>
                                        <p class="services__testimonial-desc">"We want to express our gratitude for the advice in business endeavors. Individual
                                            and slightly non-standart approach to the customers."</p>
                                        <a class="services__testimonial-author">Serhio Van Tareljo-De-Salatto.</a>
                                    </div>
                                    <div>
                                        <div>
                                            <img class="services__testimonial-logo" src="/static/images/logo-dark.svg">
                                        </div>
                                        <p class="services__testimonial-desc">"We want to express our gratitude for the advice in business endeavors. Individual
                                            and slightly non-standart approach to the customers."</p>
                                        <a class="services__testimonial-author">Serhio Van Tareljo-De-Salatto.</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-main__border-dark">
                        <a class="btn-main__sm-dark" href="#">
                            See full
                            <strong>portfolio</strong>.
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class='fp-js dark-section'>
            <div class="section-content">
                <h2 class="section__main-title">
                    Guarantees.
                </h2>
                <div class="container">
                    <div class="row">
                        <div class="services__guarantees-block">
                            <div class="col-md-3">
                                <a class="services__guarantees-index">A.</a>
                                <p class="services__guarantees-info">pure & perfect code</p>
                            </div>
                            <div class="col-md-3">
                                <a class="services__guarantees-index">B.</a>
                                <p class="services__guarantees-info">correct optimization</p>
                            </div>
                            <div class="col-md-3">
                                <a class="services__guarantees-index">C.</a>
                                <p class="services__guarantees-info">creative design & usability</p>
                            </div>
                            <div class="col-md-3">
                                <a class="services__guarantees-index">D.</a>
                                <p class="services__guarantees-info">stability & speed</p>
                            </div>
                        </div>
                        <div class="col-md-12 services__support-block">
                            <p class="services__guarantees-time">24/7</p>
                            <div>
                                <a class="services__guarantees-support">
                                    <strong>client's support</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='fp-js white-section'>
            <div class="section-content">
                <h2 class="section__main-title">
                    Improve your business.
                </h2>
                <div class="container">
                    <div class="row services__cta-block">
                        <p class="services__cta-subtitle">
                            <strong>Do you need some help with the choice?</strong>
                        </p>
                        <p class="services__cta-info">You can use our service matcher</p>
                        <br>
                        <br>
                        <div class="btn-main__border-dark">
                            <a class="btn-main__sm-dark" href="#">
                                Choose
                                <strong>service</strong>.
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% include ../partials/footer %>
        