<% include ../../partials/header %>

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="jumbotron dmcc-jumbo">
					<h1><%= category.en.name %></h1>
					<p>This category is linked to Service - <%= category.service.en.name %></p>
					<a href="/cms/blog" class="btn btn-primary" style="float: left;"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>

					<a class="btn btn-primary-inversed" href="/cms/blog/posts/new?catID=<%= category.id %>">Add a new Post</a>
					<a class="btn btn-primary-inversed" href="/cms/blog/categories/<%= category.id %>/edit">Edit Category</a>
					<form action="/cms/blog/categories/<%= category.id %>?_method=DELETE" method="POST">
						<button class="btn btn-primary">Delete Category</button>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<% for (post of category.posts){ %>
				<div class="col-lg-12">
					<div class="thumbnail menu-card">
						<div class="caption">
							<h3>
								<%= post.en.title %>
								<span class="badge counter"><%= post.author.username %></span>
							</h3>
							<p><%= post.en.desc %></p>
								<a href="/cms/blog/posts/<%= post.id %>/edit" class="btn btn-primary menu-btn" role="button">Edit Post</a>
						</div>
					</div>
				</div>
			<% } %>
		</div>
	</div>

	<% include ../../partials/footer %>